@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Newtonsoft.Json
@using System.Runtime.Serialization.Json
@using System.Text.Json.Serialization
@using Models;
@inject NavigationManager NavigationManager
@inject HttpClient client

<PageTitle>Index</PageTitle>



<h1>Welcome Back!</h1>

<p>Random Cards of the day:</p>

<Random></Random>

<h3>Recent News</h3>
<p>Here is some recent news</p>






@code {


    
}